<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Aeri Craft</title>

  <!-- Link to CSS -->
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <!-- Box Icons -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />
</head>

<body>
  <!-- Navbar -->
  <header>
    <a href="#home" class="logo">
      <img src="/images/logo.png" alt="Aeri Craft Logo"/>
      <span>Aeri Craft</span>
    </a>

    <!-- Menu-Icon -->
    <i class="bx bx-menu" id="menu-icon"></i>

    <!-- Links -->
    <ul class="navbar">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#catalog">Catalog</a></li>
      <li><a href="#contact">Contact</a></li>
      <li>
        <form action="/auth/logout" method="POST">
          <button class="btnLogin-popup">Logout</button>
        </form>
      </li>
    </ul>
  </header>

  <!-- Home -->
  <section class="home" id="home">
    <div class="home-text">
      <h1>
        Beautiful Bouquet <br>
        in Hand!
      </h1>
      <br/>
      <a href="https://wa.link/1kk8tp" target="_blank" class="btn">Order Now</a>
    </div>
    <div class="home-img">
      <img src="/images/untukhome_h380.png" alt="Beautiful Bouquet"/>
    </div>
  </section>

  <!-- About -->
  <section class="about" id="about">
    <div class="about-img">
      <img src="/images/bunga_about1.png" height="600" alt="About Aeri Craft"/>
    </div>
    <div class="about-text">
      <h2>
        About
        <span style="color: rgb(247, 137, 203)">Aeri Craft</span>
      </h2>
      <p>
        Aeri Craft adalah bisnis buket yang mulai berjalan pada Januari 2024. 
        Aeri Craft membuat special bouquet dengan konsep yang kekinian dan harga yang terjangkau.
      </p>
      <p>
        Ada beragam jenis buket yang ditawarkan, mulai dari buket bunga, buket coklat, buket uang, buket angpao, hingga buket graduation. 
        Selain buket, Aeri Craft juga menawarkan gift box valentine yang cocok dijadikan hadiah di hari yang spesial. 
        Setiap pembelian buket juga sudah free kartu ucapan.
      </p>
      <br />
      <br />
      <h2>How to Order?</h2>
      <p>
        Anda dapat memesan melalui WhatsApp atau DM 2 hari sebelum hari-H.
        Tidak menerima COD, tetapi dapat mengambilnya sendiri atau melalui pengantaran aplikasi ojek online. Selamat belanja!
      </p>
    </div>
  </section>

  <!-- Catalog -->
  <section class="catalog" id="catalog">
    <div class="heading">
      <h2>Our Catalog</h2>
    </div>

    <!-- Container -->
    <div class="catalog-container">
      <a href="/posts" class="btn btn-md btn-success mb-3">TAMBAH POST
        <ion-icon name="add-circle-outline"></ion-icon>
      </a>
    </div>
  </section>

  <!-- Contact -->
  <section class="contactUs" id="contact">
    <div class="title">
      <h2>Get in Touch</h2>
    </div>

    <div class="box">
      <!-- Instagram -->
      <div class="contact instagram">
        <!-- Embed Instagram Post -->
        <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/aeri.craft_/" data-instgrm-version="12" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px;">
          <!-- Instagram Embed Script -->
          <script src="https://www.instagram.com/embed.js"></script>
        </blockquote>
      </div>

      <!-- Info Box -->
      <div class="contact info">
        <h3>Contact Info</h3>
        <div class="infoBox">
          <div>
            <span><ion-icon name="location-outline"></ion-icon></span>
            <a href="https://www.google.com/maps/place/Gg.+Hanura+Dalam+A,+Sungai+Raya,+Kec.+Sungai+Raya,+Kabupaten+Kubu+Raya,+Kalimantan+Barat/@-0.0983415,109.391662,17z/data=!3m1!4b1!4m6!3m5!1s0x2e1d508f96354173:0x58d70a7a77cf395f!8m2!3d-0.0983415!4d109.391662!16s%2Fg%2F11g0r77nsx?entry=ttu" target="_blank">Sungai Raya, Kec. Sungai Raya, Kabupaten Kubu Raya, Kalimantan Barat</a> 
          </div>

          <div>
            <span><ion-icon name="logo-instagram"></ion-icon></span>
            <a href="https://www.instagram.com/aeri.craft_/" target="_blank">@aeri.craft_</a>
          </div>

          <div>
            <span><ion-icon name="logo-whatsapp"></ion-icon></span>
            <a href="https://wa.link/kf5u8i" target="_blank">+62 895-3258-68004 (MinMin)</a>
          </div>

          <div>
            <span><ion-icon name="logo-whatsapp"></ion-icon></span>
            <a href="https://wa.link/1kk8tp" target="_blank">+62 895-3258-68005 (MinSis)</a>
          </div>
        </div>
      </div>

      <!-- Map -->
      <div class="contact map">
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.8124434010815!2d109.391662!3d-0.0983415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e1d508f96354173%3A0x58d70a7a77cf395f!2sGg.%20Hanura%20Dalam%20A%2C%20Sungai%20Raya%2C%20Kec.%20Sungai%20Raya%2C%20Kabupaten%20Kubu%20Raya%2C%20Kalimantan%20Barat!5e0!3m2!1sen!2sid!4v1719042270210!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
          style="border:0;" 
          allowfullscreen="" 
          loading="lazy" 
          referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
      <script
        type="module"
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js">
      </script>
      <script
        nomodule
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js">
      </script>
    </section>

    <!-- Footer -->
    <footer>
      <ul class="menu">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#catalog">Catalog</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <p>
        Created by <a href="#home"><strong>Aeri Craft</strong> </a> | &copy; 2024
      </p>
    </footer>

    <!-- Link to JS -->
    <script src="/javascripts/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>
